@font-face
{
    font-family: 'standard';
    src: url('http://freetimedev.com/resources/fonts/CaviarDreams.ttf');
}

/*FTD-loader*/
.ftd-loader
{
  width: 30px;
  height: 30px;

  -webkit-border: 10px solid #ffffff44;
  -moz-border: 10px solid #ffffff44;
  border: 10px solid #ffffff44;
  border-top: .6em solid #222222;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  top: 50%;
  left: 50%;
  position: absolute;
  margin: -25px 0 0 -25px;
}

.hide{display: none;}

.ftd-spin
{
  -webkit-animation: spin-anim 1s linear infinite;
  -moz-animation: spin-anim 1s linear infinite;
  -ms-animation: spin-anim 1s linear infinite;
  animation: spin-anim 1s linear infinite;
}

@-webkit-keyframes spin-anim
{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@-moz-keyframes spin-anim
{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@-ms-keyframes spin-anim
{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@keyframes spin-anim
{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

/*FTDViewer*/
ftd-viewer .fa
{
  font-size: 30px;
  box-sizing: border-box;
  text-align: center;
  display: block;
  line-height: 40px;
}

ftd-viewer .nav-button
{
  position: fixed;
  padding: 5px;
  margin: 0;

  width: 40px;
  height: 40px;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: rgba(255, 255, 255, .3);
  border-radius: 4px;
}

ftd-viewer #nav-label
{
  top: 20px;
  right: 10px;
  z-index: 99;
}

ftd-viewer #light-nav-button
{
  bottom: 20px;
  right: 10px;
}

ftd-viewer #fullscreen-nav-button
{
  bottom: 20px;
  right: 70px;
}

ftd-viewer #nav-checkbox:checked ~ #navigation{display: none !important;}

ftd-viewer #navigation
{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  display: block;
  height: 100%;
  background-color: #222222;
  z-index: 10;
  overflow: scroll;
}

ftd-viewer  #texture-buttons
{
  margin: 80px auto 80px auto;
  width: 95%;
  height: auto;

  box-sizing: border-box;
  display: block;
}

ftd-viewer .texture-nav-button:hover{background-color: rgba(60, 60, 60, .8);}
ftd-viewer .texture-nav-button
{
  color: white;
  background-color: rgba(40, 40, 40, .8);
  text-align: center;
  height: 40px;
  margin: 3px auto;
  line-height: 40px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'standard', sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
